body {
  margin: 45px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-done{
  color: #63ebb3;
}
.icont-notdone{

  color: #DEDFE0;

}

* {

  font-family: 'Quicksand', sans-serif;

}

h1{
  margin: 15px 0 30px 50px;
}

.gestion{
  margin: 40px 80px 0 80px;
}

.fotoperfil {
  width: 80px;
  height: 100;
  margin: 40px;
}

button{
  background: #8399ca;
}

.icon-more {
  margin-left:10px
}

.content-form{
  margin: 20px 0px 30px 10px;
}

.save {
  background-color: #41d1cc;
  border: #41d1cc;
}

.agregar-sub {
  margin: 10px 0 30px 0;
}

.add-icon{
  color: #15aabf;
  font-size: 21px;
  padding-left: 10px;

}

.name-todo {
  padding: 18px;
  font-size: 22px;

}

.delete-tarea{
  font-size: 12px;
  color: #183052;
}

.option-border {
  border-bottom: 1px solid #F1619F;
  margin-right: 10px;
}

body {
  background-color: #2D2D2D;
}

.continer {
  background-color: #F2F1F1;
  margin: 30px;
  border-radius: 40px;
}

.card-list{
  margin-bottom: 10px;
}

.card-form {
  padding: 30px;
  border-radius: 8px;
}
.subForm {
  border: 1px dashed ;
  padding: 30px;


}